@charset "UTF-8";


* { margin: 0; padding: 0; border: none; line-height: 1 }
:focus { outline: 0; }
div.clear { clear: both; }
ul { list-style-type: none }


/* HTML5 tags */
header, section, footer, aside, nav, article, figure { display: block; }


body {
	background-color: #ddd;

	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 15px;
	color: #111;

	border-top: 3px solid #aaa;
	border-bottom: 3px solid #aaa;
	padding: 15px;
}

a[href] { 
	color: blue; 
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px #fff;
}
a:hover[href] {
	text-decoration: underline;
}
a:active[href] { 
	color: white 
	text-decoration: underline;
}


/* Header */
header {
	margin: 15px 0 20px 0;
	text-align: center;
}

h1 {
	font-family: Futura, "Helvetica Neue", Helvetica, Arial;
	font-weight: bold;
	color: #222;
	margin-bottom: 15px;

	text-shadow: 3px 2px #fff;
}

h2 { 
	font-weight: normal;
	text-align: center; 
	font-size: 16px;
	color: #222;
	padding-bottom: 9px;
	margin-bottom: 10px;
}


/* Navigation (in header & footer) */
nav { 
	text-align: center;
	padding-bottom: 9px; 
	font-size: 18px;
	color: #666;
}

nav a {	
	padding: 20px; 
}


/* Content */
div {
	background-color: #ededed;

	width: 700px;
	margin: 10px auto 0;
	padding: 10px 30px 1px; 
	
	box-shadow:         0px 0px 5px 5px #ccc;
	-moz-box-shadow:    0px 0px 5px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px 5px #ccc;
}

div h1 {
	display: block;
	border-bottom: 2px solid #bbb;
	padding: 15px 0 10px 0;
	margin-bottom: 10px;
}

p { 
	line-height: 1.2; 
	margin-bottom: 10px 
}

img, iframe {
	box-shadow: 		0px 0px 15px #666;
	-moz-box-shadow:    0px 0px 15px #666;
	-webkit-box-shadow: 0px 0px 15px #666;

	display: block;
	max-width: 680px;
	margin: 25px auto;
}

span.caption {
	display: block;
	text-align: center;
	margin: -10px 10px 20px;
	font-family: Futura, "Helvetica Neue", Helvetica, Arial;
	color: #222;
}


/* Footer */
footer { 
	padding: 10px 30px 0px;
	margin: 15px 10px 5px;
	font-size: 15px;
	text-align: center;
}

footer span {

}

nav.links {
	font-size: 15px;
	margin: 10px;
}

nav.links a {
	padding: 5px;
}
